.sticky-topbar{
    position: sticky;
    top: 0px;
    z-index: 10;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);
    border: none;
}

.nav-avatar {
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid white;
    align-content: center;
    text-align: center;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
    .nav-avatar {
        height: 70%;
        border: 3px solid white;
    }
    
    .sticky-topbar {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(15px);
    }
}