
.page{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.webname{
    color: white;
    background-color: teal;
    padding: 1.75% 0 2.5% 2.5%;
    font-weight: bold;
    height: 10%;
    margin: 0;
}
.quizenv{
    height: 80%;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: teal;
    width: 100vw;
    height: 10%;
    align-items: center;
    bottom: 0;
}
.footer button{
    width: 20%;
    height:60%;
    border-radius: 10px;
    color: rgb(4, 39, 19);
    border-color: black;
    background-color: rgb(134, 239, 172);
}
.footer p{
    width:80%;
}

